.save-button {
	width: 40.09px;
	height: 40.09px;
	padding: {
		top: 10.31px;
		right: 12.76px;
		bottom: 10.08px;
		left: 12.76px;
	}
	border-radius: 50%;
	border: none;
	background-color: #dbd9ee;

	svg {
		width: 14.56px;
		height: 19.69px;
		fill: #6c5fbc;
	}
}
