header {
	font-size: 17.83px;
	line-height: 1.5;
	.container {
		display: flex;
		padding-top: 48px;
		padding-bottom: 25px;
		border-bottom: 1px solid #cbcbcb;
		justify-content: space-between;
		align-items: center;

		.login-buttons {
			display: flex;
			gap: 9px;
			button {
				border: 2px solid transparent;
				padding: 18px 27px;
				border-radius: 17.83px;
				font-weight: bold;
			}
			.login {
				color: #606060;
			}
			.sign-up {
				background-color: var(--primary-color);
				color: #f9f9f9;
			}
		}
	}
}

footer {
	font-size: 17.83px;
	line-height: 1.5;

	.footer-top {
		padding: {
			top: 96px;
			bottom: 29px;
		}
		border-bottom: 1px solid #cbcbcb;
	}

	.footer-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: {
			top: 57px;
			bottom: 81px;
		}

		ul {
			display: flex;
			gap: 54px;
		}

		p {
			font-size: 17px;
		}
	}
}

.container {
	max-width: 1308px;
	margin: 0 auto;
	padding: 0 30px;
}
