header {
	font-size: 17.83px;
	line-height: 1.5;
	.container {
		display: flex;
		padding-top: 48px;
		padding-bottom: 25px;
		border-bottom: 1px solid #cbcbcb;
		justify-content: space-between;
		align-items: center;

		.menu {
			width: 47%;
			display: flex;
			justify-content: space-between;
			.logo {
				img {
					margin-top: 9px;
				}
			}
			ul {
				display: flex;
				gap: 53px;
				li {
					a {
						font-weight: 500;
						color: #606060;
					}
				}
			}
		}

		.login-buttons {
			display: flex;
			gap: 9px;
			button {
				border: 2px solid transparent;
				padding: 18px 27px;
				border-radius: 17.83px;
				font-weight: bold;
			}
			.login {
				color: #606060;
			}
			.sign-up {
				background-color: var(--primary-color);
				color: #f9f9f9;
			}
		}
	}
}

.container {
	max-width: 1308px;
	margin: 0 auto;
	padding: 0 30px;
}
