header {
	font-size: 17.83px;
	line-height: 1.5;
	.container {
		display: flex;
		padding-top: 48px;
		padding-bottom: 25px;
		border-bottom: 1px solid #cbcbcb;
		justify-content: space-between;
		align-items: center;

		.login-buttons {
			display: flex;
			gap: 9px;
			button {
				border: 2px solid transparent;
				padding: 18px 27px;
				border-radius: 17.83px;
				font-weight: bold;
			}
			.login {
				color: #606060;
			}
			.sign-up {
				background-color: var(--primary-color);
				color: #f9f9f9;
			}
		}
	}
}

.promo {
	.container {
		display: flex;
		justify-content: space-between;
		padding: {
			top: 49px;
			bottom: 85px;
		}
		.info {
			width: 45.5%;

			.info-text {
				margin-bottom: 53px;
				.subtitle {
					position: relative;
					margin-left: 77px;
					p {
						text-transform: uppercase;
						color: rgba(32, 31, 31, 0.2);

						font-family: 'Poppins', sans-serif;
						font-size: 15px;
						font-weight: 600;
						line-height: 18px;
						letter-spacing: 2px;
						text-align: left;
					}

					&::before {
						content: '';
						position: absolute;
						width: 54px;
						height: 1px;
						background-color: rgba(32, 31, 31, 0.2);
						top: 50%;
						left: -74px;
					}
				}
				h1 {
					color: #201f1f;
					font-family: 'Poppins', sans-serif;
					font-weight: 600;
					font-size: 75px;
					line-height: 90px;
					letter-spacing: -3px;
					text-align: left;
					span {
						color: #5c4eae;
					}
				}
				.description {
					p {
						opacity: 70%;
						color: #676767;
						font-family: Inter;
						font-size: 18px;
						font-weight: 400;
						line-height: 28px;
						text-align: justify;
						width: 88%;
						margin-top: 16px;

						span {
							color: #6155ae;
							font-weight: 500px;
						}
					}
				}
			}

			.info-links {
				display: flex;
				gap: 18px;
				a {
					border: 1.5px solid var(--primary-color);
					border-radius: 12.41px;
					padding: {
						top: 17px;
						bottom: 18px;
					}
					font-family: 'Poppins', sans-serif;
					font-size: 16.27px;
					font-weight: 500;
					line-height: 24.41px;
					letter-spacing: 0.01em;
				}
				.get-started {
					padding: {
						left: 30px;
						right: 31px;
					}
					background-color: var(--primary-color);
					color: #ffffff;
				}

				.go-pro {
					padding: {
						left: 17px;
						right: 18px;
					}
					color: var(--primary-color);
				}
			}

			.rating {
				display: flex;
				gap: 20px;
				align-items: end;
				margin-top: 33px;

				.review {
					display: flex;
					gap: 9.21px;
					align-items: end;
					margin-bottom: 5px;
				}
				.stars {
					display: flex;
					gap: 4px;
					svg {
						fill: #f59e0b;
					}
				}
				p {
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 500;
					color: rgba(51, 65, 85, 0.7);
				}
			}
		}

		.picture {
			position: relative;
			height: fit-content;
			.dish-image {
				img {
					width: 429.62px;
				}

				&::before {
					content: '';
					width: 100%;
					height: 96%;
					position: absolute;
					left: 12px;
					top: -10px;

					border-radius: 50%;
					z-index: -1;
					background: linear-gradient(137.31deg, #6c5fbc 4.83%, #5144a0 98.22%);
				}

				&::after {
					content: '';
					position: absolute;
					width: 101px;
					height: 97.42px;
					top: 9.6%;
					left: 92%;

					z-index: -2;
					background-image: url('/decor-arrow.svg');
				}
			}

			.graph-image {
				z-index: 2;
				position: absolute;
				top: 225px;
				left: -110px;
				&::before {
					content: '';
					position: absolute;
					top: 80%;
					left: -3%;
					width: 38px;
					height: 33px;
					z-index: 2;
					background: url(/splash.svg);
				}
			}
		}
	}
}

footer {
	font-size: 17.83px;
	line-height: 1.5;

	.footer-top {
		padding: {
			top: 96px;
			bottom: 29px;
		}
		border-bottom: 1px solid #cbcbcb;
	}

	.footer-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: {
			top: 57px;
			bottom: 81px;
		}

		ul {
			display: flex;
			gap: 54px;
		}

		p {
			font-size: 17px;
		}
	}
}

.features {
	.features-container {
		background-color: #5c4eae;
		background-image: url('/vector1.png'), url('/vector2.png'),
			url('/vector3.png'), url('/vector4.png');
		background-repeat: no-repeat;
		background-position: top left, top left, top right, top right;

		padding: {
			top: 49px;
			bottom: 48.5px;
		}
		dl {
			display: flex;
			justify-content: center;
			max-width: 942px;
			gap: 66px;
			margin: 0 auto;
		}
		dt {
			color: rgba(255, 255, 255, 1);
			font-family: 'Poppins', sans-serif;
			font-size: 43.2px;
			font-weight: 700;
			line-height: 54px;
			text-align: center;
			margin-bottom: 10.8px;
		}
		dd {
			color: rgba(197, 191, 237, 1);
			font-family: Inter;
			font-size: 14.4px;
			font-weight: 500;
			line-height: 21.6px;
			text-align: center;
		}
		.feature {
			margin-top: 8px;
			margin-bottom: 6.2px;
		}
		.separator {
			height: 123px;
			border-left: 1px solid rgba(197, 197, 197, 0.15);
		}
	}
}

.download-app {
	.container {
		display: flex;
		justify-content: space-between;
		height: 848.5px;
		align-items: center;
	}

	h2 {
		font-family: 'Poppins', sans-serif;
		font-size: 50.92px;
		font-weight: 700;
		line-height: 58.2px;
		color: rgba(24, 24, 27, 1);
		margin-bottom: 63.06px;

		span {
			color: var(--primary-color);
		}
	}

	.phone-image {
		position: relative;
		&::before {
			content: '';
			background-image: url('/phone-decor.svg');
			position: absolute;
			width: 52.46px;
			height: 61.74px;
			left: 105%;
			top: -10px;
		}
		padding-left: 112px;
	}

	.text {
		width: 45%;
		ul {
			list-style-type: disc;
			padding-left: 30px;

			font-family: Inter;
			font-size: 20.33px;
			font-weight: 400;
			line-height: 30.5px;
			text-align: left;

			margin-bottom: 66px;
		}
		li {
			&:not(:first-child) {
				margin-top: 27.94px;
			}
		}

		a {
			display: block;
			position: relative;
			width: fit-content;
			border: 1.5px solid var(--primary-color);
			border-radius: 12.41px;
			padding: 20px 26px;
			font-family: 'Poppins', sans-serif;
			font-weight: 500;
			font-size: 18.06px;
			font-weight: 500;
			line-height: 22.58px;
			background-color: var(--primary-color);
			color: #ffffff;

			svg {
				margin-left: 14.91px;
				vertical-align: middle;
			}

			&::after {
				position: absolute;
				content: '';
				background-image: url('/decor-link-arrow.svg');
				width: 169px;
				height: 62px;
				top: 100%;
			}
		}
	}
}

.container {
	max-width: 1308px;
	margin: 0 auto;
	padding: 0 30px;
}

.visually-hidden {
	display: none;
}
