footer {
	font-size: 17.83px;
	line-height: 1.5;

	.footer-top {
		padding: {
			top: 96px;
			bottom: 29px;
		}
		border-bottom: 1px solid #cbcbcb;
	}

	.footer-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: {
			top: 57px;
			bottom: 81px;
		}

		ul {
			display: flex;
			gap: 54px;
		}

		p {
			font-size: 17px;
		}
	}
}
